<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register</title>
</head>
<body>
<div>
    <h1 style="color: red" th:text="${message}" th:if="${message}"></h1>
    <form action="/user/register" method="post">
        userId:<input name="userId" type="text"/><br>
        pwd:<input name="password" type="password"><br>
        check pwd：<input name="password2" type="password"><br>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>